body {
    font-size:16px;
    margin:20px;
}
.row {
    margin:10px 0;
}
table{
    margin:10px 0;
    border-spacing: 0;
}
th{
    background:#a6d5f1;
}
footer{
    margin-top:10px;
    font-size:14px;
    color:#6c9bfa;
}
hr{
    margin:18px 0;
}
th,td{
    padding:6px 12px;
}